USE [BurmeseRecipes]
GO
/****** Object:  Table [dbo].[Tbl_BurmeseRecipes]    Script Date: 12/19/2025 7:24:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_BurmeseRecipes](
	[RecipeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Ingredients] [nvarchar](max) NOT NULL,
	[CookingInstructions] [nvarchar](max) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
	[DeleteFlag] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_Tbl_BurmeseRecipes] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UserTypes]    Script Date: 12/19/2025 7:24:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UserTypes](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserCode] [varchar](50) NOT NULL,
	[UserMMType] [nvarchar](50) NOT NULL,
	[UserEngType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_UserTypes] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_BurmeseRecipes] ON 

INSERT [dbo].[Tbl_BurmeseRecipes] ([RecipeId], [Name], [Ingredients], [CookingInstructions], [UserType], [DeleteFlag], [CreatedDateTime], [ModifiedDateTime]) VALUES (3, N'ဘဲဥကြော်အချိုချက်
', N'ဘဲဥ
ကြက်သွန်ဖြူနီ
ခရုဆီ
ကြက်သားမှုန့် 
ပဲငံပြာရည်', N'ဘဲဥကိုပြုတ်ပြီး ရေအေးစိမ်၊ ပြီးရင်အခွံခွာ ထက်ပိုင်းခြမ်းထား ပြီး ဆီပူထဲ အကာပိုင်းကိုကြွပ်အောင် ကြော်ထား ။ ကြက်သွန်ဖြူနီပါးပါးလှီးပြီး ဆီသပ် ခရုဆီ ကြက်သားမှုန့် ပဲငံပြာရည်လေးထည့် ဘဲဥထည့် ရေနည်းနည်းလေးဘဲထည့် ခမ်းပြီဆို ဘဲဥအချိုချက်လေးရပြီ။', N'001', 0, CAST(N'2025-12-19T16:29:51.187' AS DateTime), CAST(N'2025-12-19T16:30:37.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_BurmeseRecipes] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_UserTypes] ON 

INSERT [dbo].[Tbl_UserTypes] ([UserId], [UserCode], [UserMMType], [UserEngType]) VALUES (1, N'001', N'အသားစား', N'MeatEater')
INSERT [dbo].[Tbl_UserTypes] ([UserId], [UserCode], [UserMMType], [UserEngType]) VALUES (2, N'002', N'သက်သက်လွတ်', N'Vegan')
SET IDENTITY_INSERT [dbo].[Tbl_UserTypes] OFF
GO
